@using Klemm.One.App.Services
@inject StorageService StorageService
@implements IDisposable

<div class='storage-notification-container @(IsFaded ? "container-hide" : "")' hidden="@IsHidden">
    <div class="storage-notification-layer">
        <div>
            <span class="storage-message">
                To ensure the best possible experience this site saves data in your browser. What do you think about it?
            </span>

            <span class="storage-message-button">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" color="primary" onclick="@AcceptStorage">I'm fine</button>
            </span>
            <span class="storage-message-button">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" color="primary" onclick="@DenyStorage">Better not</button>
            </span>
        </div>
    </div>
</div>

@functions {

    public bool IsFaded { get; private set; }
    public bool IsHidden { get; private set; } = true;

    protected override async Task OnInitAsync()
    {
        await StorageService.Init();
        IsHidden = StorageService.IsEnabled;

        StorageService.StateChanged += StorageServiceOnStateChanged;
    }

    private void StorageServiceOnStateChanged(object sender, bool isEnabled)
    {
        IsHidden = false;
        IsFaded = isEnabled;

        StateHasChanged();
    }

    async Task AcceptStorage()
    {
        await StorageService.AcceptStorage();
        IsFaded = true;
    }

    async Task DenyStorage()
    {
        await StorageService.DenyStorage();
        IsFaded = true;
    }

    public void Dispose()
    {
        StorageService.StateChanged -= StorageServiceOnStateChanged;
    }
}
